.modal-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  height: 500px;
  width: 500px;
  border-radius: 6px;
  background-color: white;
}

.header {
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0px 10px;
  max-width: 100%;
  font-weight: bold;
  border-radius: 6px 6px 0px 0px;
}
